{% extends 'base.html' %}
{% block content %}
<h3>Список исходных плейлистов</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">url</th>
            <th scope="col"></th>
            <th scope="col">Выбрано каналов</th>
            <th scope="col">Всего каналов</th>
        </tr>
    </thead>
    <tbody>
        {% for server in serverList %}
        <tr>
            <td scope="row">{{ server.1 }}</td>
            <td scope="row">
                <form action="{% url 'updateList' server.0 %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-md btn-success" value="{{ server.2 }}" type="submit">
                </form>
            </td>
            
            <td scope="row">
                <!--delete-->
                <a class="btn btn-md btn-danger" href="{% url 'delete' server.0 %}">Delete</a>
            </td>
            <td scope="row">{{ server.3 }}</td>
            <td scope="row">{{ server.4 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
