{% extends 'base.html' %}
{% block content %}
<h3>Список исходных плейлистов</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">url</th>
            <th scope="col"></th>
            <th scope="col">Выбрано каналов</th>
            <th scope="col">Всего каналов</th>
        </tr>
    </thead>
    <tbody>
        {% for server in serverList %}
        <tr>
            <td scope="row">{{ server.nameServer }}</td>
            <td scope="row">
                <form action="{% url 'updateM3U2' server.idServer %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-md btn-success" value="{{ server.urlServer }}" type="submit">
                </form>
            </td>
            
            <td scope="row">
                <!--delete-->
                <a class="btn btn-md btn-danger" href="{% url 'delete' server.idServer %}">Delete</a>
            </td>
            <td scope="row">Other</td>
            <td scope="row">Other</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
