{% extends 'base.html' %}

{% block content %}
<h3>Управление каналами 222</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">url</th>
            <th scope="col">Выбрано каналов</th>
            <th scope="col">Всего каналов</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for server in serverList %}
        <tr>
            <td scope="row">{{ server.nameServer }}</td>
            <td scope="row">{{ server.urlServer }}</td>
            <td scope="row">{{ countChecked }}</td>
            <td scope="row">{{ countAll }}</td>
            <td scope="row">
                <a class="btn btn-md btn-warning" href="{% url 'reloadList' server.idServer %}">Обновить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Output</th>
            <th scope="col">NameCanal</th>
            <th scope="col">NameGroup</th>
            <th scope="col">UrlCanal</th>
        </tr>
    </thead>
    <tbody>
        {% for can in form %}
        <tr>
            <td scope="row">{{ can.1 }}</td>
            <td scope="row">
                {% if can.5 %}
                    <input type="checkbox" name="cbcheckedForOutput" id="cbcheckedForOutput_{{ can.1 }}" checked>
                {% else %}
                    <input type="checkbox" name="cbcheckedForOutput" id="cbcheckedForOutput_{{ can.1 }}">
                {% endif %}
            </td>
            <td scope="row">{{ can.2 }}</td>
            <td scope="row">{{ can.3 }}</td>
            <td scope="row">{{ can.4 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<p>ddddd</p>

{% endblock %} 
