{% extends 'base.html' %}

{% block content %}
<h1>Update Page</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">nameServer</th>
            <th scope="col">urlServer</th>
            <th scope="col">CountChecked</th>
            <th scope="col">CountAll</th>
            <th scope="col">ReloadList</th>
        </tr>
    </thead>
    <tbody>
        {% for server in list1 %}
        <tr>
            <td scope="row">{{ server.idServer }}</td>
            <td scope="row">{{ server.nameServer }}</td>
            <td scope="row">{{ server.urlServer }}</td>
            <td scope="row">{{ countChecked }}</td>
            <td scope="row">{{ countAll }}</td>
            <td scope="row">
                <a class="btn btn-md btn-warning" href="{% url 'reloadList' server.idServer %}">Reload</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">IdCanal</th>
            <th scope="col">Output</th>
            <th scope="col">NameCanal</th>
            <th scope="col">NameGroup</th>
            <th scope="col">UrlCanal</th>
        </tr>
    </thead>
    <tbody>
        {% for can in list2 %}
        <tr>
            <td scope="row">{{ can.idCanal }}</td>
            <td scope="row">
                {% if can.checkedForOutput %}
                    <input type="checkbox" name="cbcheckedForOutput" id="cbcheckedForOutput_{{ can.idCanal }}" checked>
                {% else %}
                    <input type="checkbox" name="cbcheckedForOutput" id="cbcheckedForOutput_{{ can.idCanal }}">
                {% endif %}
            </td>
            <td scope="row">{{ can.nameCanal }}</td>
            <td scope="row">{{ can.nameGroup }}</td>
            <td scope="row">{{ can.urlCanal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} 



