{% extends 'base.html' %}

{% block content %}
<h3>Управление каналами</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">url</th>
            <th scope="col">Выбрано каналов</th>
            <th scope="col">Всего каналов</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for server in serverList %}
        <tr>
            <td scope="row">{{ server.nameServer }}</td>
            <td scope="row">{{ server.urlServer }}</td>
            <td scope="row">{{ countChecked }}</td>
            <td scope="row">{{ countAll }}</td>
            <td scope="row">
                <a class="btn btn-md btn-warning" href="{% url 'reloadList' server.idServer %}">Обновить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Output</th>
            <th scope="col">NameCanal</th>
            <th scope="col">NameGroup</th>
            <th scope="col">UrlCanal</th>
        </tr>
    </thead>
    <tbody>
        {% for can in canalList %}
        <tr>
            <td scope="row">{{ can.idCanal }}</td>
            <td scope="row">
                {% if can.checkedForOutput %}
                    <input type="checkbox" name="cbcheckedForOutput" id="cbcheckedForOutput_{{ can.idCanal }}" checked>
                {% else %}
                    <input type="checkbox" name="cbcheckedForOutput" id="cbcheckedForOutput_{{ can.idCanal }}">
                {% endif %}
            </td>
            <td scope="row">{{ can.nameCanal }}</td>
            <td scope="row">{{ can.nameGroup }}</td>
            <td scope="row">
                <a class="btn btn-md btn-warning" href="{% url 'playLink' can.idm3u can.idCanal %}">{{ can.urlCanal }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} 
